<!DOCTYPE HTML>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>

<body>
    <h1>管理者用ページ</h1>
    <table>
        <tr>
            <td>利用者の本日の報告確認</td>
            <td><button onclick="location.href='admin_today_report'">確認</button></td>
        </tr>
        <tr>
            <td>利用者の報告確認</td>
            <td><button onclick="location.href='admin_report'">確認</button></td>
        </tr>
        <tr>
            <td>利用者の報告忘れ確認</td>
            <td><button onclick="location.href='/admin/inactive_users'">確認</button></td>
        </tr>

</body>
</html>