<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードを忘れた場合</title>
    <style>
        .error { color: red; }
        .info { color: blue; }
    </style>
</head>
<body>
    <h1>パスワードを忘れた場合</h1>
     <!-- flashのメッセージを表示する用 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/forget_pass2" method="post">
        登録している情報を入力して下さい<br>

        個人番号<br>
        <input type="text" name="P_num" required><br><br>
        名字<br>
        <input type="text" name="l_name" required><br><br>
        名前<br>
        <input type="text" name="f_name" required><br><br>
        所属<br>
        <input type="text" name="affiliation" required><br><br>
        電話番号<br>
        <input type="text" name="tell" required><br><br>
        メールアドレス<br>
        <input type="text" name="mail" required><br><br>
        住所<br>
        <input type="text" name="addr" required><br><br>

        <input type="submit" value="次へ"><br>
    </form>
    <p><a href="/">ログインページに戻る</a></p>
</body>
</html>