<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
</head>
<body>
    <h1>COVID-19管理システムトップ</h1>
    <ul>
        <li><a href="/action_input">行動記録入力</a></li>
        <li><a href="/action_view">行動記録閲覧</a></li>
        <li><a href="/condition_input">体調観察入力</a></li>
        <li><a href="/condition_view">体調記録閲覧</a></li>
        <li><a href="/user_update">利用者情報修正ページ</a></li>
        <li><a href="/report">コロナ報告用ページ</a></li>
        <li><a href="/admin">管理者用ページ</a></li>
    </ul>
    <div><a href="/logout">ログアウト</a>　<a href="/sign_up_page">新規利用者登録</a></div>

</body>
</html>